<head>
    <title>site title</title>

    <meta property="og:site_name" content="site" />
    <meta name="twitter:title" content="title 1" />
    <meta property="og:title" content="title 1" />
    <meta property="author" content="site" />
    <link rel="image_src" href="{{fullImage}}" />
    <meta property="og:image" content="{{fullImage}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{fullImage}}" />
    <meta property="og:description" content="title 2" />
    <meta name="twitter:description" content="title 2" />

    <head>

        <img src="/images/{{image}}">